<p>Le mot de passe de votre compte a été réinitialisé. Si vous n'êtes pas l'auteur de cette action, vous pouvez réinitialiser votre mot de passe en inscrivant votre email <%= email %> dans le formulaire à cette url <a href="<%= url %>"><%= url %><a>.</p>
