<p>Plus qu'une étape avant de vous amusez avec Super Site ! Merci de valider votre compte en cliquant <a href="<%= url %>">ici<a> ou copiez et coller cette url dans votre dans navigateur internet: <%= url %></p>
