extends layout

include commons/form/mixins

block content
    legend Contact
    include commons/messages
    form.form-horizontal(method="POST", action="/contact", role="form")
        - if (!user)
            .form-group
                label.control-label.col-lg-2(for='email') #{__i('contact-form-label-email')}
                .col-lg-6
                    input#email.form-control(type='text', name='email', placeholder="#{__i('contact-form-label-email')}")
        +form-text(__i('contact-form-label-subject'),     'subject', data.subject, errors && errors.subject ? errors.subject.message : null)
        +form-textarea(__i('contact-form-label-message'), 'message', data.message, errors && errors.message ? errors.message.message : null)
        - if (!user)
            +form-captcha(__i('contact-form-label-captcha'), errors && errors.captcha ? errors.captcha.message : null)

        .form-group
            .col-lg-offset-2.col-lg-10
                input.btn.btn-default(type="submit", value="#{__i('contact-form-label-submit')}")
