doctype 5
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block links
            link(rel='stylesheet', href='/twitter-bootstrap/dist/css/bootstrap.min.css')
            link(rel='stylesheet', href='/twitter-bootstrap/assets/css/docs.css')
            link(rel='stylesheet', href='/stylesheets/main.css')
    body(data-spy="scroll", data-target=".subnav", data-offset="50", data-twttr-rendered="true")
        nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
            div.container
                include navbar
        div.container
            block content
        script(src='/javascripts/libs/jquery/jquery.min.js')
        script(src='/javascripts/libs/underscore/underscore-min.js')
        script(src='/twitter-bootstrap/dist/js/bootstrap.min.js')
        block scripts
