extends ../layout

block content
    include ../commons/messages
    form.col-md-4(id="signup", method="POST", action="/forgot/password", role="form")
        legend Request to reset password
        .form-group
            label.sr-only.control-label(for='email') Email
            input#email.form-control(type='text', name='email', placeholder="Email", value=email)
        input.btn.btn-default(type="submit", value="Request to reset password")
