extends ../layout

block content
    section
        include ../commons/messages
        form.form-horizontal(id="signup", method="POST", action="/forgot/password")
            fieldset
                legend Request to reset password
                .control-group
                    label.control-label(for='email') Email
                    .controls
                        input#email(type='text', name='email', placeholder="Email", value=email)
                .control-group
                    input.btn.btn-default(type="submit", value="Request to reset password")
