extends ../layout

block content
    include ../commons/messages
    form(id="signup", method="POST", action="/forgot/password", role="form")
        legend Request to reset password
        .form-group
            label.sr-only.control-label(for='email') Email
            input.form-control#email(type='text', name='email', placeholder="Email")
        input.btn.btn-default(type="submit", value="Request to reset password")
