extends ../layout

block content
    include ../commons/messages
    form.form-login(method="POST", action="/login")
        h2.form-login-heading Log In
        input.form-control#email(type='text', name='email', placeholder="Email")
        input.form-control#password(type='password', name='password', placeholder="Password")
        label.checkbox
            input(type="checkbox", value="remember-me")
            | Remember me
        input.btn.btn-lg.btn-primary.btn-block(type="submit", value="Log In")
        hr
        a.pull-right(href="/forgot/password") Forgot Password
    .form-login
        a.btn.btn-primary(href="/auth/facebook") Log In With Facebook
