extends ../layout

block append links
    link(rel='stylesheet', href='jQuery-File-Upload/css/jquery.fileupload-ui.css')

block append scripts
    script(src="jQuery-File-Upload/js/vendor/jquery.ui.widget.js")
    script(src="jQuery-File-Upload/js/jquery.iframe-transport.js")
    script(src="jQuery-File-Upload/js/jquery.fileupload.js")
    script(src='/javascripts/profile.js')

block content
    form.form-horizontal(method="POST", action="/profile", role="form")
        a.btn.btn-warning.pull-right(href="/forgot/password") Modify your password
        .form-group
            label.control-label.col-lg-2 Picture
            .col-lg-6
                - if (user.picture)
                    img.img-polaroid.picture(src="/user/"+user._id+"/picture/thumbnail/" + user.picture)
                - else
                    img.img-polaroid(src="/user/default/picture/thumbnail/default.png")
        .form-group
            .col-lg-6.col-lg-offset-2
                span.btn.btn-success.fileinput-button
                    i.glyphicon.glyphicon-plus
                    span Select a picture
                    input#fileupload(type="file", name="picture", data-url="/profile-picture")
        .form-group
            label.control-label.col-lg-2(for='firstName') First name
            .col-lg-6
                input#firstName.form-control(type='text', name='firstName', placeholder="First name", value=user.firstName)
        .form-group
            label.control-label.col-lg-2(for='lastName') Last name
            .col-lg-6
                input#lastName.form-control(type='text', name='lastName', placeholder="Last name", value=user.lastName)
        .control-group
            input.btn.btn-default(type="submit", value="Sauvegarder")
