extends ../layout

block append links
    link(rel='stylesheet', href='jQuery-File-Upload/css/jquery.fileupload-ui.css')

block append scripts
    script(src="jQuery-File-Upload/js/vendor/jquery.ui.widget.js")
    script(src="jQuery-File-Upload/js/jquery.iframe-transport.js")
    script(src="jQuery-File-Upload/js/jquery.fileupload.js")
    script(src='/javascripts/profile.js')

include ../commons/form/mixins

block content
    form.form-horizontal(method="POST", action="/profile", role="form")
        a.btn.btn-warning.pull-right(href="/request/reset/password") #{__i('profile-form-label-changePassword')}
        .form-group
            label.control-label.col-lg-2 Picture
            .col-lg-6
                - if (user.picture)
                    img.img-polaroid.picture(src="/user/"+user._id+"/picture/thumbnail/" + user.picture)
                - else
                    img.img-polaroid(src="/user/default/picture/thumbnail/default.png")
        .form-group
            .col-lg-6.col-lg-offset-2
                span.btn.btn-success.fileinput-button
                    i.glyphicon.glyphicon-plus
                    span Select a picture
                    input#fileupload(type="file", name="picture", data-url="/profile-picture")
        +form-text(__i('profile-form-label-firstName'), 'firstName', user.firstName, errors && errors.firstName ? errors.firstName.message : null)
        +form-text(__i('profile-form-label-lastName'),  'lastName',  user.lastName,  errors && errors.lastName ? errors.lastName.message : null)

        - var languageSelections = {}
        each language in languages
            - languageSelections[language] = __i('profile-form-label-language-'+language)
        +form-select(__i('profile-form-label-language'), 'language', languageSelections, user.language,  errors && errors.language ? errors.language.message : null)

        .form-group
            .col-lg-offset-2.col-lg-10
                input.btn.btn-default(type="submit", value="#{__i('profile-form-label-submit')}")
