extends ../layout

block content
    section
        include ../commons/messages
        form.form-horizontal(id="singup", method="POST", action="/reset/password")
            fieldset
                legend Request to reset password
                input#regeneratePasswordKey(type='hidden', name='regeneratePasswordKey', value=regeneratePasswordKey)
                .control-group
                    label.control-label(for='password') Password
                    .controls
                        input#password(type='password', name='password', placeholder="Password")
                .control-group
                    input.btn.btn-default(type="submit", value="Request to reset password")
