extends ../layout

block content
    include ../commons/messages
    form(id="signup", method="POST", action="/reset/password", role="form")
        legend Reset password
        input#regeneratePasswordKey(type='hidden', name='regeneratePasswordKey', value=regeneratePasswordKey)
        .form-group
            label.sr-only.control-label(for='password') Email
            input.form-control#password(type='text', name='password', placeholder="Email")
        input.btn.btn-default(type="submit", value="Reset password")
