extends ../layout

block content
    include ../commons/messages
    form.col-md-4(id="signup", method="POST", action="/reset/password", role='form')
        legend Reset password
        input#regeneratePasswordKey(type='hidden', name='regeneratePasswordKey', value=regeneratePasswordKey)
        .form-group
            label.sr-only.control-label(for='password') Password
            input#password.form-control(type='password', name='password', placeholder="Password")
        input.btn.btn-default(type="submit", value="Request to reset password")
