extends ../layout

block content
    form.form-signup(method="POST", action="/signup")
        h2.form-signup-heading Sign up
        input.form-control#email(type='text', name='email', placeholder="Email")
        input.form-control#password(type='password', name='password', placeholder="Password")
        input.btn.btn-lg.btn-primary.btn-block(type="submit", value="Sign up")
