extends ../layout

block content
    .jumbotron
        h1 #{__i('signupConfirmation-label-title')}
        p #{__i('signupConfirmation-label-text')}
        p: a.btn.btn-lg.btn-success(href="/") #{__i('signupConfirmation-label-link')}
