extends ../layout

block content
    .jumbotron
        h1 Thanks to registering to Super Site !
        p.A email have just been sent to you. Please validate your account by on clicking on the given url. See you soon !
        p: a.btn.btn-lg.btn-success(href="/") Go back to home page
