body {
  padding-top: 70px;
}

.form-signup,
.form-login {
max-width: 330px;
padding: 15px;
margin: 0 auto;
}

.form-signup .form-signup-heading, .form-signup .checkbox,
.form-login .form-login-heading, .form-login .checkbox {
margin-bottom: 10px;
}

.form-signup input[type="text"],
.form-login input[type="text"] {
margin-bottom: -1px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.form-signup input[type="password"],
.form-login input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
