mixin message(msg, classes)
    .alert(class=classes)
        button(type="button", class="close", data-dismiss="alert") &times;
        | #{msg}

- if (errorMessage)
    +message(errorMessage, 'alert-error')

- if (warningMessage)
    +message(warningMessage, 'alert-warning')

- if (successMessage)
    +message(successMessage, 'alert-success')
